* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(37, 51, 70);
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 19px 10px;
  font-family: "Open Sans", sans-serif;
}
.header-container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
nav {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}
nav a {
  position: relative;
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  font-size: 1.3em;
  padding: 8px;
  font-weight: bold;
}
nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: 0.15s cubic-bezier(1, 0, 1, 1.65);
  transform: scale3d(0, 1, 1);
}
nav a.active::before,
nav a:hover::before {
  transform: scale3d(1, 1, 1);
}
.skill-container {
  font-family: "Open Sans", sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}
.skill-container h2 {
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.skill-container h2::before {
  content: "";
  border-bottom: solid #fff;
  border-width: 0.05em;
  height: 0.1em;
  margin-right: 0.7em;
  width: 30px;
}
.skill-container h2::after {
  content: "";
  border-bottom: solid #fff;
  border-width: 0.05em;
  height: 0.1em;
  margin-left: 0.7em;
  flex: 1;
}
.skill-container .skill-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill-container figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.skill-container figure img {
  width: 100px;
  height: 100px;
  /* animation: test 1s forwards; */
}
/* @keyframes test {
  0% {
    width: 200px;
  }
  100% {
    width: 100px;
  }
} */
.skill-container figure figcaption {
  margin-top: 8px;
  font-size: 1.1em;
  text-align: center;
}
main {
  padding-top: 80px;
  width: 1000px;
  margin: 0 auto;
  min-height: 200vh;
}
.sec2 {
  position: relative;
  width: 100%;
  height: 60vh;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec2::before {
  pointer-events: none;
  content: "Front End";
  position: absolute;
  top: 40%;
  left: 36%;
  font-size: 3em;
  z-index: 1;
  border-bottom: 3px solid rgb(255, 255, 255);
}
.box {
  width: 60%;
  height: 60vh;
}
.box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.contentBx {
  width: 40%;
  height: 100%;
  padding: 20px;
  background: rgb(158, 248, 193);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}
.content {
  padding: 20px;
  width: 100%;
  height: 48%;
  border: 2px solid black;
  color: black;
  background: rgb(255, 255, 255);
}
